<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="/cube.png" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title><%= title %></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="HeaderLogo"><span>B4cks0ckt</span></a>
                <div class="HeaderLinks">
                    <ul class="NavLinks">
                        <li class="NavLink"><a href="/">Home</a></li>
                        <li class="NavLink"><a href="/infectados">Infectados</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="SectionMain">
            <div class="main">
                <img src="/cube.png" alt="B4cks0ck" class="invert"/>
                <h1>Error 404</h1>
                <p>404 - No't Found / Inicio</p>
            </div>
        </section>
        <footer>
            Created By<a>:</a> Alk4x<a>/</a> Mr.Char with <a>❤</a>
        </footer>
    </body>
</html>